.container .navbar {
    width: 100%;
}
a {
    color: black;
}
.img-full-width {
    width: 100%;
    margin: 55px 0;
}
.selection {
    margin: 0 90px;
}
.selection h3 {
    opacity: 0.3;
    font-size: 20px;
}
.selection h1,h3 {
    padding: 20px 0;
}
span {
    opacity: 0.3;
}
.card-img-top {
    margin: 10px 0;
}
.card-body .card-title {
    padding: 30px 0;
    font-size: 35px;;
}
.card {
    border: none;
}
.card .box {
    background-color: rgb(214, 205, 205) ;
    margin: 50px 0;
}
.card .box .card-title {
    margin: 0;
}
.text-center button{
    margin: 50px 0;
    /* background-color: white; */
}
.row1 {
    margin: 0;
    padding: 0;
    color: black;
    background-color: thistle;
}
